/* Контейнер для всей страницы */
.details-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #f5f7fa;
    min-height: 100vh;
    background-color: var(--background-color);
}

.details-card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 80%;
    max-width: 900px;
    padding: 20px;
}

.details-image {
    width: 150px; 
    height: 200px; 
    border-radius: 10px;
    object-fit: cover; 
    margin-right: 20px;
}

.details-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-title {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.details-rating {
    font-size: 1.2em;
    color: #f39c12;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.details-genre {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.details-author {
    font-size: 1em;
    color: #555;
    margin-bottom: 5px;
}

.details-description {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
    margin-top: 15px;
}
